# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BullCowGame.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Manu\Documents\BullCowGame\BullCowGame-starter-kit\.idea\.idea.BullCowGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
